<!DOCTYPE html>
<html>
<body>
    <form action="Avocado" method="post">
    <h2>Top 5 Best deals</h2>

<div class="deal">
    <img src="img1.jpg" alt="piooop">
    <img src="img2.jpg" alt="piooop">
    <img src="img3.jpg" alt="piooop">
    <img src="img4.jpg" alt="piooop">
    <img src="img5.jpg" alt="piooop">
    <br><br>
<button><a href="/shops">shop</a></button>
</div>
</form>
</body>


</html>

