<h2>Shops</h2>

<ul class="list">
    {{#each shop}}
<tr>
<td><a class="nameLink" href="/deals/{{this.name}}">{{this.name}}</a></td>
</tr>
<li></li>
    {{/each}}
</ul>
{{!-- <div><button class="Bttn" type="submit"><a href='/'>Home</a></button> --}}
