body {
    background-color: lightseagreen;
    color: whitesmoke;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Source Serif Pro', serif;
}

h2 {
    font-size: 50px;
    text-align: center;
}

.container {
    margin: auto;
    width: 80%;
}

.deal,
img {
    height: 30vh;
    display: inline-block;
}